* {
    box-sizing: border-box;
    margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
//   overflow-x: hidden;
}

a {
    text-decoration: none;
}

img, svg {
    vertical-align: bottom;
}

button {
    border: 0;
    white-space: nowrap;
    cursor: pointer;
}

p, h1, a, button, input, li, label {
    // font-family: Noto Sans KR;
    color: #0f0f0f;
}